@model List<Category>

<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h2>Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Create New Category</a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>DisplayOrder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>
                        <a asp-controller="Category" asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary"><i class="bi bi-envelope"></i> Details</a>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary m"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>